body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description, .search, .detailed-description {
  margin-bottom: 20px;
}



.detailed-description img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
